<h1>{{ occurrence.event.title }}</h1>
<h2>Details</h2>
<table border=1>
  <tr><th>Title</th><td>{{ occurrence.event.title }}</td></tr>
  <tr><th>Category</th><td>{{ occurrence.event.category }}</td></tr>
  <tr><th>Location</th><td>{{ occurrence.event.location }}</td></tr>
  <tr><th>Date</th><td>{{ occurrence.date }}</td></tr>
  <tr><th>Time</th><td>{{ occurrence.event.time }}</td></tr>
  <tr><th>Description</th><td>{{ occurrence.event.content|safe }}</td></tr>
</table>

<h2>Guests</h2>
<table border=1>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Number</th>
  </tr>
  {% for rsvp in occurrence.eventrsvp_set.all %}
    <tr>
      <td>{{ rsvp.name }}</td>
      <td><a href="mailto:{{ rsvp.email }}">{{ rsvp.email }}</a></td>
      <td>{{ rsvp.phone }}</td>
      <td>{{ rsvp.number_attending }}</td>
    </tr>
  {% endfor %}
  <tr>
    <th>TOTAL</th>
    <td>
    <td>
    <td>{{ occurrence.total_attending }}</td>
  </tr>
</table>
