{% extends "elections/representatives.html" %}
{% load static %}

{% block page_title %}Brittany Flowers{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'elections:brittany-flowers' %}">Brittany Flowers</a></li>
{% endblock %}

{% block page_content %}

  <section>
    <p>Brittany Flowers Petersburg Commissioner of the Revenue is a native of Ettrick, VA, and currently resides in the historic City of Petersburg, VA.  Her ties to Petersburg are strong, as she made precious memories as a young child with her grandparents (Pratt & Griffin families), who were also residents of Petersburg. Ms. Flowers matriculated through the Chesterfield County School System, graduating in 2003 from Matoaca High School and later graduating from ECPI Technical College, where she received her Associate of Applied Science Degree in Business Administration in 2006. Ms. Flowers has professionally served Petersburg and the surrounding communities for 19 years and the financial sector for nine years.  </p>
    <p>As it pertains to her professional expertise, Brittany began serving the City of Petersburg in 2013 as a Deputy II in the City Treasurer’s office, under the leadership of the late Kevin A. Brown.  As a Deputy II she resolved and collected unpaid tax debits from taxpayers & businesses.</p>
    <p>She is currently the youngest serving Commissioner of the Revenue in the Commonwealth of Virginia proudly serving the City of Petersburg.  With a smile and pleasant demeanor, Brittany has proven herself to be an effective communicator and trustworthy source in assisting taxpayers with supplements and abatements for personal property, tax relief filing, meal, lodging, admission, and cigarette taxes, and state income tax filing, along with other office responsibilities.</p>
    <p>While employed in the Commissioner of the Revenue office, the City of Petersburg has invested in Brittany in taking training classes:</p>
    <ul>
      <li>Personal Property II</li>
      <li>Roles and Responsibilities of    the Commissioner of Revenue</li>
      <li>Conflict of Interest &amp; Ethics</li>
      <li>Lawful Employment – Comp Board</li>
      <li>Tax Exemption in Virginia</li>
      <li>Auditing of Businesses</li>
    </ul>
    <p>Beyond her service to the City of Petersburg, Brittany also serves as the Chairwoman of the Trustees & Financial Secretary of Rocky Mount Baptist Church in McKenney, VA.  In this capacity she works to ensure all church contributions are collected, accounted for and distributed in accordance with church policy and IRS regulations.  She maintains a budget for all church ministries, and was a significant contributor towards the creation church’s voucher system, which is being used to this day.  Aside from these duties, Brittany continues to be a successful entrepreneur and maintains her license as a professional Licensed Insurance Agent by the Commonwealth of Virginia.  </p>
    <p>As you can see, Brittany Flowers is still committed to making the office of the Commissioner of the Revenue a high performing unit of the City of Petersburg. She will continue to engage the taxpayers and business owners to improve our city’s fiscal responsibility.</p>
  </section>

{% endblock %}
