{% extends "elections/representatives.html" %}
{% load static %}

{% block page_title %}Tiffany Buckner{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'elections:tiffany-buckner' %}">Tiffany Buckner</a></li>
{% endblock %}

{% block page_content %}

  <section>
    <p>Tiffany Buckner is a 2004 graduate of Virginia State University where she  interned at the Petersburg Public Defender's Office and earned a B.A. in Political Science. She obtained a Juris Doctor degree in 2008 from North Carolina Central University School of Law. While attending Central she served as a volunteer coordinator for youth day programs, interned with the Fair Trial Initiative, as well as the Innocence Project.</p>
    <p>After obtaining her law license in 2009, she began working in the Danville Commonwealth's Attorney's Office as an Assistant Commonwealth's Attorney.  Ms. Buckner also served as co-chair on the Women and Minorities in the Law Commission of the Virginia State Bar.  Ms. Buckner served as chair on the law day committee. She organized events that fostered interaction between middle and high school students and the legal community.</p>
    <p>In 2011, she began working as an Assistant Commonwealth's Attorney for the City of Petersburg. Shortly thereafter after having been promoted to Senior Assistant, she began prosecuting homicide cases. Ms. Buckner has served as the Secretary, Vice-President and President of the Petersburg Bar Association. In 2017, she was again promoted to Deputy Commonwealth's Attorney assisting the Commonwealth's Attorney in supervisory and administrative responsibilities including law enforcement training and advisement. She also has served as mentor and intern supervisor for high school and college students interested in criminal justice careers.</p>
    <p>Ms. Buckner has served on the Petersburg Democratic Committee’s banquet Board for two years and is a member of the Southside Area Democratic Women and Associates Club.</p>
    <p>Since becoming the Commonwealth’s Attorney for the City of Petersburg in June 2020, she has implemented policies that focus on effective allocation of resources to promote victim inclusion in the criminal justice process. These policies include improvements to our approach to the Victim/Witness - attorney interaction. In addition to this victim centered approach, Ms. Buckner has personally supervised the process to ensure the efficient continuity of justice throughout the pandemic so that cases are heard in a timely fashion in accordance with the defendant’s constitutional right to a fair trial.</p>
  </section>

{% endblock %}
